/*使う色のメモ　あとで消す
  テキスト色  #333
  テーマ色    #74cfae
  背景（薄）  #f2f2f2
  背景（濃）  #4e4e4e */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  color: #333;
  font-family: lato;
}

.width_set {
  width: 100%;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  position: fixed;
  background-color: #fff;
  z-index: 1;
  padding: 15px 0;
}

.bolt_style {
  color: #4e4e4e;
  font-size: 30px;
  margin-top: 5px;
}

.contact {
  float: right;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  transition: 0.3s;
}

.contact:hover {
  color: #333;
}

.header .sp_menu {
  display: none;
}

.main {
  padding-top: 60px;
}

.theme {
  background-color: #f2f2f2;
}

.theme_inner {
  padding: 250px 0;
  text-align: center;
}

.theme_main {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  font-family: Raleway;
}

.theme_sub {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

.about {
  background-color: #74cfae;
}

.about_inner {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.phone_picture {
  margin-left: 60px;
}

.about_texts {
  color: #fff;
  margin-top: 30px;
  margin-left: 80px;
  text-align: center;
  width: 780px;
}

.about_text_theme {
  font-size: 24px;
  font-family: Raleway;
}

.about_text_body {
  font-size: 20px;
  margin-top: 35px;
}

.work {
  background-color: #f2f2f2;
}

.work_inner {
  padding: 60px 0 70px 0;
  text-align: center;
}

.work_theme {
  font-size: 24px;
  font-family: Raleway;
}

.work_pictures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.work_picture {
  margin-left: 100px;
  transition: 0.3s;
  opacity: 0.7;
}

.work_picture:hover {
  opacity: 1;
}

.work_picture:nth-child(3n-2) {
  margin-left: 0;
}

.work_picture:nth-child(3n) {
  margin-right: 0;
}

.work_picture:nth-child(4),
.work_picture:nth-child(5),
.work_picture:nth-child(6) {
  margin-top: 80px;
}

.work_sub {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work_sub_content {
  width: 530px;
}

.work_sub_email {
  display: inline-block;
  text-decoration: none;
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  margin-left: 90px;
  transition: 0.3s;
}

.work_sub_email:hover {
  color: #333;
}

.skill {
  background-color: #4e4e4e;
}

.skill_inner {
  padding: 70px 0 100px 0;
  text-align: center;
}

.skill_theme {
  color: #fff;
  font-size: 24px;
}

.figures {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.skill_figure {
  margin-left: 180px;
}

.skill_figure:first-child {
  margin-left: 0;
}

.figure_description {
  color: #fff;
  margin-top: 20px;
} 

.sns {
  background-color: #f2f2f2;
}

.sns_inner {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 200px 0;
  text-align: center;
}

.icon_box {
  position: relative;
  width: 185px;
  height: 90px;
  transition: 0.3s;
}

.icon_box:hover {
  background-color: #fff;  
}

.sns_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #74cfae;
}

.footer {
  background-color: #74cfae;
}

.footer_inner {
  padding: 20px 0 25px 0;
  text-align: right;
}

.crafted {
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .inner {
    width: 740px;
  }

  .about_inner {
    flex-direction: column;
  }

  .phone_picture {
    width: 208px;
    margin: 0 auto;
  }

  .about_texts {
    margin: 20px auto 25px auto;
    width: 540px;
  }

  .about_text_body {
    margin-top: 35px;
  }

  .work_picture {
    margin: 0 50px;
  }

  .work_pictures {
    padding-top: 40px;
  }

  .work_picture:nth-child(3n-2) {
    margin-left: 50px;
  }
  
  .work_picture:nth-child(3n) {
    margin-right: 50px;
  }

  .work_picture:nth-child(5),
  .work_picture:nth-child(6) {
    margin-top: 0;
  }

  .work_sub {
    margin-top: 80px;
    flex-direction: column;
  }

  .work_sub_email {
    margin: 0;
    margin-top: 40px;
  }

  .figures {
    flex-direction: column;
  }

  .skill_figure {
    margin-left: 0;
    margin-top: 88px;
  }

  .skill_figure:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    width: 360px;
  }

  .pc_menu {
    display: none;
  }

  .header .sp_menu {
    display: block;
  }

  .contact {
    background-color: #fff;
    color: #ddd;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .theme_inner {
    padding: 130px 0;
    padding-top:calc(160px + 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .theme_main {
    font-size: 80px;
  }

  .theme_sub {
    padding-top: 20px;
    font-size: 30px;
  }

  .about_texts {
    width: 100%;
  }

  .work_sub_content {
    width: 100%;
  }

  .sns_inner {
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
  }

  .icon_box {
    width: 100%;
  }
}
